.first .name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first .name-title h2 {
  font-size: 6rem;
  margin-bottom: 0;
  letter-spacing: 0.4em;
}

.first .name-title p {
  font-size: 4rem;
  letter-spacing: 0.4em;
}

@media screen and (max-width: 1500px) {
  .first .name-title h2 {
    font-size: 4rem;
  }

  .first .name-title p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .first .name-title h2 {
    font-size: 2.4rem;
  }

  .first .name-title p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .first .name-title h2 {
    font-size: 2rem;
  }

  .first .name-title p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .first .name-title h2 {
    font-size: 1.6rem;
  }

  .first .name-title p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .first .name-title h2 {
    font-size: 1.6rem;
    letter-spacing: 0.3em;
  }

  .first .name-title p {
    font-size: 1rem;
    letter-spacing: 0.3em;
  }
}
